.logo-img {
  width: 150px;
  margin: 10px;
}
.redes-sociales {
  margin-top: 100px;
}
.boton
{
  text-align: center;
}
.bus
{
  margin-top: 10px;
}
.tamano
{
  width: 300px;
  height: 300px;
}
.espas
{
  margin-left: 0;
}
