<<<<<<< HEAD
.logo-img {
  width: 150px;
  margin: 10px;
}
.redes-sociales {
  margin-top: 100px;
}
=======
.logo-img {
  width: 150px;
  margin: 10px;
}
.redes-sociales {
  margin-top: 100px;
}
>>>>>>> 5f1279953f350e2fd857f906b9c4f90e4c2b328a
